.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 20px;
  margin: 2.5rem;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: rgb(74, 74, 74);
}

.card-tags {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.tag {
  background: #e9ecef;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8em;
  color: #495057;
}

.card-description {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.card-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: rgb(74, 74, 74);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background: rgba(255, 255, 255, 0.8);
}