<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meowtopia - Request page</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo_admin.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'form.css') }}">
</head>
<body class="dashboard">
    <header class="header">
        <a class="logo" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo_user.png') }}" alt="Logo" style="height: 30px; vertical-align: middle; margin-right: 10px;">
            <img src="{{ url_for('static', filename='images/logo_text.png') }}" alt="Logo" style="height: 30px; vertical-align: middle; margin-right: 10px;">
        </a>
        <nav class="auth-buttons">
            <a href="{{ url_for('logout') }}" class="auth-buttons">Logout</a>
        </nav>
    </header>
    <div class="main-container">
        <nav class="sidebar">
            <button class="sidebar-button" onclick="openModal()">New</button>
            
            <div class="request-list">
                {% for request in requests_query %}
                    <div class="request-item {{ request.get_status_class() }}" onclick="openRequestModal({{ request.id }})">
                        <span class="status-dot"></span>
                        <span class="request-text">{{ request.cat_name }}</span>
                    </div>
                {% endfor %}
            </div>
        </nav>
        <!-- 提交新的申請 -->
        <div class="modal-overlay" id="createModal" aria-hidden="true" role="dialog">
            <div class="modal-content">
                <div class="modal-scrollable">
                    <button class="modal-close" onclick="closeModal()">&times;</button>
                    <form class="cat-form" action="/user/manage_request" method="POST" enctype="multipart/form-data">
                        <div class="form-header">
                            <h2>New Cat</h2>
                        </div>
                        <div class="form-content">
                            <div class="image-upload">
                                <div class="upload-icon" id="upload-icon">
                                    <span>+</span>
                                    <span style="font-size: 20px;">Picture</span>
                                </div>
                                <input type="file" name="cat_image" accept="image/*" id="cat-image" onchange="showPreview(event)">
                                <img id="preview" style="display: none;">
                            </div>
                            <div class="form-fields">
                                <div class="form-group">
                                    <label>貓咪名字：</label>
                                    <input type="text" name="cat_name" required>
                                </div>
                                <div class="form-group">
                                    <label>貓咪年齡：</label>
                                    <input type="text" name="age" required>
                                </div>
                                <div class="form-group">
                                    <label>貓咪性別：</label>
                                    <select name="gender" required>
                                        <option value="" disabled selected>choose</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>貓咪性格：</label>
                                    <textarea name="personality" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>貓咪健康狀況：</label>
                                    <textarea name="health_status" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>申請原因：</label>
                                    <textarea name="reason" required style="height: 1px;" required></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="submit-btn" >表單送出</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Request Review Modal -->
        <div class="modal" id="requestModal" aria-hidden="true">
            <div class="modal-body">
                <button class="modal-close" onclick="closeRequestModal()">&times;</button>
                <h2 id="requestName"></h2>
                <div class="imagecontainer"></div>
                <div class="info-item">
                    <span class="info-label">Age: </span>
                    <span class="info-value" id="modalCatAge"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">Gender: </span>
                    <span class="info-value" id="modalCatGender"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">Health Status:</span>
                    <span class="info-value" id="modalCatHealth"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">Personality:</span>
                    <span class="info-value" id="modalCatPersonality"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">Request status:</span>
                    <span class="info-value" id="modalCatStatus"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">Reason for return:</span>
                    <span class="info-value" id="modalCatSpecialHint"></span>
                </div>
                <div class="modal-footer" id="modalFooter" style="display: none;">
                    <button class="modal-button">Resumbit</button>
                </div>
            </div>
        </div>

        <!-- 預定成功後顯示的 Canvas -->
        <div id="SuccessfulModal" style="display: {% if request_successful %}block{% else %}none{% endif %};">
            <div id="SuccessfulContent">
                <h3>Your request was sumbit successfuly!</h3>
                <canvas id="canvas"></canvas>
                <script>
                    var canvas = document.getElementById("canvas");
                    var ctx = canvas.getContext("2d");

                    // 加載圖片
                    var img = new Image();
                    img.src = "{{ url_for('static', filename='images/checkmark.png') }}";

                    img.onload = function() {
                        // 當圖片加載完成後，繪製到 Canvas 上
                        ctx.drawImage(img, canvas.width / 2 - 75, canvas.height / 2 - 75, 150, 150);
                    };
                </script>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            if ({{ request_successful | tojson }}) {
                document.getElementById("SuccessfulModal").style.display = "flex";
                setTimeout(function() {
                    document.getElementById("SuccessfulModal").style.display = "none";
                    window.location.reload();  // 刷新页面以加载最新数据
                }, 3000); // 3秒后自动关闭
            }
        }

        // 預覽圖片
        function showPreview(event) {
            const file = event.target.files[0];
            const preview = document.getElementById('preview');
            const uploadIcon = document.getElementById('upload-icon');

            if (file) {
                preview.src = URL.createObjectURL(file);
                preview.style.display = 'block';
                uploadIcon.style.display = 'none';
            }
        }
        function openModal() {
            const modal = document.getElementById('createModal');
            modal.style.display = 'flex';
            modal.setAttribute('aria-hidden', 'false');
            document.body.classList.add('modal-open'); // 添加类
        }

        function closeModal() {
            const modal = document.getElementById('createModal');
            modal.style.display = 'none';
            modal.setAttribute('aria-hidden', 'true');
            document.body.classList.remove('modal-open'); // 移除类
        }
        function translateAge(age){
            if(age==-1) return 'Unknown';
            else if(age==-2) age = '0~1';
            else if(age==-3) age = '2~3';
            else if(age==-4) age = '4~7';
            return age;
        }
        function translateGender(gender){
            if(gender==-1) gender='Unknown';
            else if(gender==0) gender='Female';
            else gender='Male';
            return gender;
        }
        async function openRequestModal(id) {
            try {
                // 發送請求獲取data
                const response = await fetch(`/api/requestCat/${id}`);
                const catData = await response.json();

                // 清空之前的图片
                const imageContainer = document.querySelector('.imagecontainer');
                imageContainer.innerHTML = '';  // 清空图片容器

                // 填充資料
                var age = translateAge(catData.cat.age);
                var gender = translateGender(catData.cat.gender);

                var status = catData.request.status;
                if (status == -1) status = 'Review failed';
                else if(status ==0) status = 'Waiting for review';
                else if(status ==1) status = 'Waiting for adoption';
                else if(status ==2) status = 'Adoption application in progress';
                else if(status ==3) status = 'Adoption successful';

                var reason = catData.request.special_hint;
                if (!reason) reason = 'None';


                // 更新内容
                document.getElementById('requestName').textContent = catData.cat.name;
                document.getElementById('modalCatAge').textContent = `${age} year(s)`;
                document.getElementById('modalCatGender').textContent = gender;
                document.getElementById('modalCatHealth').textContent = catData.cat.health_status;
                document.getElementById('modalCatPersonality').textContent = catData.cat.personality;
                document.getElementById('modalCatStatus').textContent = status;
                document.getElementById('modalCatSpecialHint').textContent = reason;

                // 动态插入图片
                if (catData.cat.img) {
                    const img = document.createElement('img');
                    img.src = catData.cat.img = (catData.cat.img!='Unknown') ? catData.cat.img : '';
                    //img.alt = 'Cat image';
                    img.style.maxWidth = '100px';  // 可根据需要调整图片大小
                    img.style.height = 'auto';
                    imageContainer.appendChild(img);
                }

                // 若審核失敗/等待審核可以重新更新資料
                const modalFooter = document.getElementById('modalFooter');
                if (catData.request.status === -1 || catData.request.status === 0) {
                    modalFooter.style.display = 'block';  // 显示
                } else {
                    modalFooter.style.display = 'none';   // 隐藏
                }
                // 显示
                const modal = document.getElementById('requestModal');
                modal.style.transform = 'translateX(0)';
                modal.setAttribute('aria-hidden', 'false');

                // 滾動到最上面
                window.scrollTo({ top: 0, behavior: 'smooth' });
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }


        function closeRequestModal() {
            const modal = document.getElementById('requestModal');
            modal.style.transform = 'translateX(100%)'; // 隱藏在螢幕右側
            modal.setAttribute('aria-hidden', 'true');
        }
    </script>
</body>
</html>